.site-name{
	font-size: 6em !important;
}
.site-name-intro{
	font-size: 2.5em !important;
}
section{
	padding: 150px 0 !important;
}
.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}
.tile.purple {
  background: #5133AB;
}
.tile.red {
  background: #AC193D;
}
.tile.green {
  background: #00A600;
}
.tile.blue {
  background: #2672EC;
}
.tile.orange {
  background: #DC572E;
}
.font-white{
	color: #FFF !important;
}
.text-center{
	text-align: center;
}
.steps-anchor{
	text-decoration: none;
	cursor: auto;
}
.steps-row{
	margin-top: 2em;
}
footer .footer-above{
	color: #777777;
	background-color: #FFF;
}
footer .footer-below{
	color: #777777;
	background-color: #F8F8F8;
}
.btn-social{
	border: 2px solid #777777;
}
.btn-outline{
	color: #777777;
}